// Глобальные стили и утилиты
@use 'variables';
@use 'mixins';
@use 'fonts';

// Импорт блоков через их индексные файлы
@use 'importer';

// Глобальные стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400; // Regular
	background-color: black;
}
